<div class="flex h-fit">
  <div class="w-[50%] mx-1 text-white shadow-md rounded-xl">
    <div class="rounded-xl">
      <div class="w-full h-full pl-3 pt-3 pb-10 bg-teal-500 rounded-t-xl">
        <div class="text-4xl font-bold">150</div>
        <div class="mt-2">Nuevos Pedidos</div>
      </div>  
      <div class="w-full h-10 bg-teal-600 rounded-b-xl">
        <a href="#" class="h-full text-teal-200 flex items-center justify-center w-full hover:text-teal-100">
          <span>Más información</span> 
          <span class="h-6 w-6 bg-white rounded-full material-icons ml-1">arrow_forwards</span>
        </a>
      </div>
    </div>
  </div>
  <div class="w-[50%] mx-1 text-white shadow-md rounded-xl">
    <div class="rounded-xl">
      <div class="w-full h-full pl-3 pt-3 pb-10 bg-orange-500 rounded-t-xl">
        <div class="text-4xl font-bold">150</div>
        <div class="mt-2">Nuevos Pedidos</div>
      </div>  
      <div class="w-full h-10 bg-orange-600 rounded-b-xl">
        <a href="#" class="h-full text-teal-200 flex items-center justify-center w-full hover:text-teal-100">
          <span>Más información</span> 
          <span class="h-6 w-6 bg-white rounded-full material-icons ml-1">arrow_forwards</span>
        </a>
      </div>
    </div>
  </div>







 
</div>
  
