
<div class="w-64 bg-gray-800 min-h-screen h-full snap-y">
    <div class="flex items-center  min-h-16 px-4 border-b-2 border-white"> 
      <div class="w-8 h-8 bg-gray-700 rounded-full flex items-center justify-center">
        <span class="text-white font-bold">A</span>
      </div>
      <span class="ml-2 text-white text-lg font-bold">Gensiv</span>
    </div>
    <div class="flex items-center min-h-16 px-4 mx-2 border-b-2 border-white">
      <img  alt="User Image" class="rounded-full w-10 h-10 mr-2">
      <span class="text-white">Usuario X</span>
    </div>
    <nav>
    <ul class="px-4 scroll-auto">
        @for(section of sections; track section){
            <app-dropdown [dropDown]="section" class="text-white" [bgHover]="'hover:bg-gray-700'"></app-dropdown>
        }
    </ul>
    </nav>
  </div>
  