<li class="" (click)="toogleSubMenu()" >
    <div href="#" class="w-full px-2 min-h-12 flex items-center ">
        <span class="material-icons mr-2">home</span>
        <span class="w-full"> {{ dropDown.title }} </span>
        @if (dropDown.items != undefined) {
            <span class="material-icons mr-2 justify-end">arrow_drop_down</span>
        }
    </div>
    <ul class="items-center w-full" [class.hidden] = "toogleActive()" >
        @if(dropDown.items != undefined){
            @for(item of dropDown.items; track item){
                <a href="{{item.url}}" class="w-full px-4 min-h-12 flex items-center   rounded-sm">
                    <span class="material-icons mr-2">{{item.icon}}</span>
                    <span class="w-full"> {{item.title}} </span>
                </a>
            }   
        }
    </ul>
</li>
